@import url(fonts/fonts.css);

body {
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--medium-font-weight);
    line-height: 1.5;
    color: var(--text-color);
    min-inline-size: 375px;
    max-inline-size: 1920px;
    margin: 0 auto;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.button{
    background-color: var(--button-color);
    font-size: var(--font-size-button-text);
    font-weight: var(--semi-bold-font-weight);
    color: var(--second-text-color);
    border-radius: 5px;
    inline-size: 100%;
    block-size: 50px;
}

img{
    inline-size: 100%;
    block-size: auto;
}

*::selection{
    background-color: var(--volunteer-button-color);
    color: var(--button-color);
}

a:hover:not(img, .button){
    color: var(--button-color);
    text-decoration: underline 2px var(--button-color);
    text-underline-offset: 0.3rem;
    text-decoration-skip-ink: none;
    transform: scale(1.05);
    transition: 500ms ease-in-out;
}

button:hover{
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

a img:hover{
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


@media (width >= 1440px) {
    .button, .attend-btn{
        inline-size: 50%;
    }
}

